body {
    background-color: white;
    /* margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh; */
  }
.right_side{
  width: 550px;
  display: flex;
  justify-content: center;
}
.left_side{
    width: 1000px;
    justify-content: center;
}
.button-container{
  
  justify-content: space-between;
  align-items: center; 
  margin: 20px;
}
button{
  background: black;
  color: white;
 border: none;
 border-radius: 0.5em;
 font-size: 15px;
 font-weight: bold;
 cursor: pointer;
 margin:10px;
}
/* className="flex justify-between items-center" */