
.button-container{
  
  justify-content: space-between;
  align-items: center; 
  margin: 20px;
  
}
button{
  width: auto;
 height: 2em;
 margin: 5px;
 
}
button:disabled {
  opacity: 0.5;
}
.container {
  display: flex; /* Use flexbox layout */
  width:100%;
  background-color: inherit;
  top: 100%;
  left: 100%;
}
.sidebar {
  flex: 0 0 25%; /* Set the initial and minimum width of the sidebar to 25% */
  background-color: rgb(139, 132, 132);
  
}
.content {
  flex: 1; /* Fill the remaining space with the main content */
 
}
table {
  border-collapse: collapse;
  border: 2px solid rgb(100, 100, 100);

  font-size: 0.8rem;
  letter-spacing: 1px;
}
th,
td {
  border: 1px solid rgb(100, 100, 100);
  padding: 8px 10px;
}
