.main-nav-div {
    position: sticky;
    background-color: #7c8094;
    top: 0;
    right: 0;
    left: 0;
    height: 70px; 
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    z-index: 100;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: auto;
}

.nav-left {
    padding-left: 5px;
}

.nav-right {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}


li,
a {
    font-family: "Italic", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #3e4144;
    text-decoration: none;
}

.links {
    color: #252729; /* Cambia el color de la letra de los links */
}

.nav-logo {
    max-height: 70px; /* Ajusta este valor según tus necesidades */
    object-fit: cover;
    width: 100%;
    font-family: sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}